@font-face {
    font-family: 'montauk-regular';
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: 'montauk-light';
    src: url(/assets/fonts/Montauk-Light.otf);
}

@font-face {
    font-family: 'montauk-bold';
    src: url(/assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: 'montauk-italic';
    src: url(/assets/fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: 'fugazOne';
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

/* General Use */

body{
    background-image: url(/assets/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    max-width: 1700px;
}
.container-fluid{
    padding: 0px;
}

p{
    font-family: 'montauk-light';
    color: #5F002B;
    font-size: 20px;
}

h1{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 50px;
}

h2{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 30px;
}

.title-text{
    background-color: white;
    text-align: center;
    padding: .5rem 0;
}
/* End General Use */

/* Navbar Start */
.navBarImg{
    width: auto;
}
.navBarFont{
    font-size: 20px;
    font-family: 'fugazOne';
    color: #5F002B;
}
/* Navbar End */

/* footer */
.footer-img{
    height: 31.6px;
    width: 100px;
    display: flex;

}

.footer-format{

   display: flex;
   flex-flow: column wrap;
   align-items: end;
}
/* footer end */

/* landing page */
.home-header-format{
    width: 100%;
    margin: 0px;
    height: 600px;
    padding-bottom: 2rem;
}

.horizontal-card{
    background-color: transparent;
    border: 0px;
    padding: 4rem 0;
}

.horizontal-card .card-body{
    margin-left: 1rem;
    padding: 2rem;
}

.col-md-8 img{
    padding-left: 1rem;
}
/* landing page end */

/* catering page start */
.catering-header-format{
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 4rem 0 1rem 0;
    
}

.catering-imgs{
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.catering-imgs .col-4{
    padding: 0px;
    width: 32%;
    padding-bottom: 2rem;
}

.catering-imgs img{
    width: 100%;
}
/* catering page end */

/* home responsiveness */
@media screen and (max-width: 767px){
    .home-header-format{
        height: 400px;
    }
    
    .horizontal-card .card-body{
        margin: 0px;
        margin-top: 4rem;        
    }

    .col-md-4{
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 577px) {
    .home-header-format{
        height: 250px;
    }

    .col-md-8 img{
        height: 150px;
    }

    .card-body{
        margin-top: 32px;
    }
    
    footer p{
        font-size: 15px;
    }
}

/* catering responsiveness */
@media screen and (max-width: 767px){
    .catering-header-format{
        height: 350px;
        padding-bottom: 3rem;
    }

    .card-body{
        padding: 2rem;
    }

    p{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 577px){
    .catering-header-format{
        height: 250px;

    }

    .accordion-body img{
        width: 100%;
    }

    footer p{
        font-size: 15px;
    }
}
