@font-face {
    font-family: 'montauk-regular';
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: 'montauk-light';
    src: url(/assets/fonts/Montauk-Light.otf);
}

@font-face {
    font-family: 'montauk-bold';
    src: url(/assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: 'montauk-italic';
    src: url(/assets/fonts/Montauk-Italic.otf);
}

/* General Use */

body{
    background-image: url(/assets/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    font-family: 'montauk-light';
    color: #5F002B;
}
/* End General Use */

/* footer */
.footer-img{
    height: 31.6px;
    width: 100px;
}

.footer-format{
    display: flex;
   justify-content: flex-end;
    
}
/* footer end */