@font-face {
    font-family: 'montauk-regular';
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face {
    font-family: 'montauk-light';
    src: url(/assets/fonts/Montauk-Light.otf);
}

@font-face {
    font-family: 'montauk-bold';
    src: url(/assets/fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: 'montauk-italic';
    src: url(/assets/fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: 'fugazOne';
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

/* General Use */

body{
    background-image: url(/assets/bgtexture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
}

.container{
    max-width: 1700px;
}
.container-fluid{
    padding: 0px;
}

p{
    font-family: 'montauk-light';
    color: #5F002B;
    font-size: 20px;
    line-height: .9;
}

p2{
    font-family: 'montauk-light';
    color: #5F002B;
    font-size: 20px;
   
}

h1{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 50px;
}

h2{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 30px;
}

h3{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 30px;
}

.title-text{
    background-color: white;
    text-align: center;
    padding: .5rem 0;
}

hr{
    color: #5F002B;
    opacity: 100%;
}

.card{
    border-radius: 0px;
}
/* End General Use */

/* Navbar Start */
.navBarImg{
    width: auto;
}
.navBarFont{
    font-size: 20px;
    font-family: 'fugazOne';
    color: #5F002B;
}
/* Navbar End */

/* Menu Start */
.title-text{
    background-color: #FFFFFF;
    color: #5F002B;
    text-align: center;
    font-size: 50px;
    font-family: 'fugazOne';
    margin-bottom: 30px;
}
.menu-card{
    height: auto;
    border: 0;
    border-radius: 0;
}
.menu-card h2, a{
    color: #5F002B;
    font-family: 'montauk-regular';
}
.menu-card-header{
    font-family: 'fugazOne';
    color: #5F002B;
    font-size: 30px;
}
.menu-image{
    border-radius: 0;
}
hr{
    margin-bottom: 40px;
}
/* Menu End */

/* footer */

footer{
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.footer-img{
    height: 31.6px;
    width: 100px;
    display: flex;

}

.footer-format{

   display: flex;
   flex-flow: column wrap;
   align-items: end;
}
/* footer end */

/* landing page */
.home-header-format{
    width: 100%;
    margin: 0px;
    height: 600px;
    padding-bottom: 1.5rem;
}

.horizontal-card{
    background-color: transparent;
    border: 0px;
    padding: 4rem 0;
}

.horizontal-card .card-body{
    margin-left: .5rem;
    padding: 2rem;
    padding-bottom: 5rem;
}

.col-md-7 img{
    padding-left: .5rem;
}
.home-images{
    margin-left: 8px;
    padding-right: 7px;
}
/* landing page end */

/* catering page start */
.catering-header-format{
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 4rem 0 1rem 0;
    
}

.catering-imgs{
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.horizontal-card .card-body2{
    margin-left: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
}

.catering-imgs .col-4{
    padding: 0px;
    width: 32%;
    padding-bottom: 2rem;
}

.catering-imgs img{
    width: 100%;
}
/* catering page end */

/* home responsiveness */
@media screen and (max-width: 769px){
    .home-header-format{
        height: 400px;
    }
    
    .horizontal-card .card-body{
        margin: 0px;
        margin-top: 4rem;
    }

    .col-md-5{
        display: flex;
        justify-content: center;
    }

    .col-md-7 img{
        padding: 0px;
        height: 175px;
    }

    footer{
        padding-bottom: 1rem;
    }

}

@media screen and (max-width: 577px) {
    .home-header-format{
        height: 250px;
    }

    .col-md-7 img{
        height: 180px;
    }

    .card-body{
        margin-top: 32px;
    }
    
    footer p{
        font-size: 15px;
    }

    footer{
        padding-bottom: 1rem;
    }
}

/* catering responsiveness */
@media screen and (max-width: 769px){
    .catering-header-format{
        height: 350px;
        padding: 0px;
        padding-bottom: 2rem;
    }

    .card-body{
        padding: 2rem;
    }

    p{
        font-size: 1.75rem;
    }

    footer{
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 577px){
    .catering-header-format{
        height: 250px;
        padding: 0px;
        padding-bottom: 2rem;

    }

    .accordion-body img{
        width: 100%;
    }

    footer p{
        font-size: 15px;
    }

    footer{
        padding-bottom: 1rem;
    }
}


/* About Page Start */
.about-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
}

.about-nav {
    grid-column: 1 / 4;
    grid-row: 1;
    max-width: 100%;
}

.about-main-pic {
    grid-column: 1;
    grid-row: 2;
    margin-left: 90px;
    margin-right: 10px;
}

.about-main-text {
    grid-column: 2 / 4;
    grid-row: 2;
    margin-left: 10px;
    margin-right: 90px;
    max-height: 100%;
    padding: 2rem;
}

.our-team {
    grid-column: 1 / 4;
    grid-row: 3;
    width: 90%;
    margin-bottom: 2rem;

}

.pics-1-3 {
    grid-column: 1 / 4;
    grid-row: 4;
}

.pics-1-3 .row {
    display: flex;
    justify-content: space-around;
}

.pics-4-6 {
    grid-column: 1 / 4;
    grid-row: 5;
    padding-top: 2rem;
    }

.pics-4-6 .row {
    display: flex;
    justify-content: space-around;
}

.about-footer {
    grid-column: 1 / 4;
    grid-row: 6;
    margin-top: 3rem;
}

.about-main-img {
    width: 500px;
    height: auto;
}

.bg-white {
    background-color: white;
}

.about-main-txt-bg {
    max-height: 100%;
    max-width: fit-content;
    margin-bottom: 50px;
}

@media screen and (max-width:1400px) {

    .about-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, auto);
    }
    
    .about-main-pic {
        grid-column: 1 / 4;
        grid-row: 2;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    
    .about-main-text{
        grid-column: 1 / 4;
        grid-row: 3;
        margin-left: 75px;
        margin-right: 75px;
        text-align: center;
    }

    .about-main-img {
        max-width: fit-content;
        height: auto;
    }

    .our-team {
        grid-column: 1 / 4;
        grid-row: 4;
        width: 110%;
        margin-left: 25px;
        
    }

    .pics-1-3 {
        grid-column: 1 / 4;
        grid-row: 5;
    }

    .pics-4-6 {
        grid-column: 1 / 4;
        grid-row: 6;
    }

    .about-footer {
        grid-column: 1 / 4;
        grid-row: 7;
    }
    
}

@media screen and (max-width: 769px){
    .about-body p{
        font-size: 22px;
    }

    .about-main-pic {
        margin: 0px;
    }

    .about-main-text h1{
        font-size: 2rem;
    }

    .our-team{
        justify-content: center;
    }

    .pics-1-3 .card{
        margin-bottom: 1rem;
    }

    .pics-4-6 .card{
        margin-bottom: 1rem;
    }

    .pics-4-6{
        padding-top: 0px;
    }
}

@media screen and (max-width:577px) {

    .about-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(7, auto);
    }

    .about-body p{
        font-size: 25px;
    }
    
    .about-main-pic {
        grid-column: 1 / 4;
        grid-row: 2;
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .about-main-text{
        grid-column: 1 / 4;
        grid-row: 3;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 15px;
        max-width: 90%;
    }

    .about-main-img {
        max-width: fit-content;
        height: auto;
    }

    .our-team {
        grid-column: 1 / 4;
        grid-row: 4;
        margin-left: 0;
    }

    .pics-1-3 {
        grid-column: 1 / 4;
        grid-row: 5;
        margin-left: 0px;
        max-width: 480px;
    }

    .pics-4-6 {
        grid-column: 1 / 4;
        grid-row: 6;
        margin-left: 0px;
        max-width: 480px;
    }

    .about-footer {
        grid-column: 1 / 4;
        grid-row: 7;
        max-width: 100%;
    }
    
}
/* Photo Page */
.photo-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 0px;
}

.photo-body .col-6{
    display: flex;
    justify-content: center;
}

.photo-body .col{
    display: flex;
    justify-content: center;
}

.photo-imgs {
    max-width: 400px;
    padding: 10px;
    background-color: white;
}

.photo-nav {
    grid-column: 1 / 5;
    grid-row: 1;
    max-width: 100%;
}

.photo-header {
    grid-column: 1 / 5;
    grid-row: 2;
}

.row-1-photos {
    grid-column: 1 / 5;
    grid-row: 3;
    padding: 0px;
}

.row-2-photos {
    grid-column: 1 / 5;
    grid-row: 4;
    padding: 0px;
}

.row-3-photos {
    grid-column: 1 / 5;
    grid-row: 5;
    padding: 0px;
}

.photo-footer {
    grid-column: 1 / 5;
    grid-row: 6;
    max-width: 100%;
}

@media screen and (max-width: 769px) {
    .photo-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        gap: 10px;
    }

    .photo-imgs {
        max-width: 100%;
        
        background-color: white;
    }

    .row-1-photos .row{
        margin: 0px;
    }
    
    .row-2-photos .row{
        margin: 0px;
    }

    .row-3-photos .row{
        margin: 0px;
    }
    .row-1-photos .col-sm-6{
        margin-bottom: 10px;
    }

    .row-2-photos .col-sm-6{
        margin-bottom: 10px;
    }

    .row-3-photos .col-sm-6{
        margin-bottom: 10px;
    }
   
}

@media screen and (max-width: 577px) {
    .photo-body .col-xs-12{
        display: flex;
        justify-content: center;
    }
}

/* Photo Page End */
